.movieCard {
  margin: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 24px 13px 35px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 24px 13px 35px -7px rgba(0, 0, 0, 1);
  box-shadow: 24px 13px 35px -7px rgba(0, 0, 0, 1);
  border-radius: 10px;
  width: 80%;
  height: 400px;
}

.movieImgBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.movieImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.movieText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20%;
  font-weight: bolder;
  cursor: pointer;
}

.cardDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  font-weight: bolder;
  font-size: 18px;
}

.cardDetail:hover {
  color: red;
}

@media screen and (max-width: 1024px) {
  .movieCard {
    width: 85%;
  }

  .movieImgBox {
    height: 75%;
  }

  .movieText {
    height: 25%;
  }

  .cardDetail {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  .movieCard {
    width: 80%;
  }

  .movieImgBox {
    height: 70%;
  }

  .movieImg {
    max-width: 300px;
  }

  .movieText {
    height: 30%;
  }

  .cardDetail {
    font-size: 20px;
  }
}
