.editContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.editBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  border-radius: 15px;
  background-color: white;
}

.editModalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 10%;
}

.modalTitle {
  font-size: 20px;
  font-weight: bolder;
}

.modalCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.editModalContents {
  width: 100%;
  height: 90%;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.editGradeBox,
.editSubmitBtn {
  width: 100%;
  height: 10%;
}

.editMovieName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-weight: 700;
  font-size: 18px;
}

.editGradeBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editGradeBox > input {
  display: flex;
  text-align: center;
  padding-left: 10px;
  width: 40px;
  height: 30px;
  outline: none;
  font-size: 18px;
  font-weight: 700;
}

.editTextBox {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 65%;
}

.editText {
  width: 80%;
  height: 80%;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  resize: none;
}

.editSubmitBtn {
  border: none;
  border-top: 1px solid lightgray;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  font-size: 20px;
  background-color: #f8f8f8;
}

@media screen and (max-width: 1024px) {
  .editBox {
    width: 500px;
    height: 400px;
  }

  .modalTitle {
    font-size: 18px;
  }

  .modalCloseBtn {
    width: 26px;
    height: 26px;
    font-size: 18px;
  }

  .editMovieName {
    font-size: 17px;
  }

  .editText {
    font-size: 18px;
  }

  .editSubmitBtn {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .editBox {
    width: 440px;
    height: 350px;
  }

  .modalTitle {
    font-size: 17px;
  }

  .modalCloseBtn {
    width: 25px;
    height: 25px;
    font-size: 17px;
  }

  .editMovieName {
    font-size: 16px;
  }

  .editText {
    font-size: 16px;
  }

  .editSubmitBtn {
    font-size: 17px;
  }
}
