.detailContainer {
  margin: auto;
  padding-top: 10px;
  width: 60%;
}

.detailBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.detailBoxLeft {
  width: 30%;
  height: 100%;
}

.detailBoxLeft > img {
  width: 100%;
  height: 100%;
}

.detailBoxRight {
  width: 70%;
  height: 100%;
}

.detailBoxRight > div {
  padding: 0 5px;
}

.detailTitle,
.detailGenres,
.detailRuntime,
.detailReleaseDate {
  display: flex;
  align-items: center;
}

.detailTitle {
  justify-content: center;
  width: 100%;
  height: 20%;
  font-weight: bolder;
  font-size: 20px;
}

.detailGenres,
.detailRuntime,
.detailReleaseDate {
  width: 100%;
  height: 10%;
  font-size: 18px;
  font-weight: 500;
}

.detailOverview {
  width: 100%;
  height: 50%;
  font-size: 16px;
}

.reviewBox {
  margin-top: 25px;
  width: 100%;
}

.reviewWrite {
  position: relative;
  margin: auto;
  width: 80%;
  height: 300px;
  background-color: rgb(255, 232, 236);
}

.reviewForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
}

.reviewTop,
.reviewMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.reviewTop {
  font-size: 25px;
  font-weight: bolder;
}

.reviewBottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.reviewWriteText {
  padding: 5px;
  width: 85%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  resize: none;
}

.reviewBottom > input[type="submit"] {
  width: 15%;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: white;
  background-color: #414141;
}

.reviewLists {
  margin: auto;
  width: 80%;
}

.reviewNone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
  background-color: rgb(255, 232, 236);
}

@media screen and (max-width: 1024px) {
  .detailBox {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .detailBoxLeft {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
  }

  .detailBoxLeft > img {
    max-width: 350px;
    height: 100%;
  }

  .detailBoxRight {
    width: 100%;
    height: 60%;
  }

  .detailTitle {
    font-size: 18px;
  }

  .detailGenres,
  .detailRuntime,
  .detailReleaseDate {
    font-size: 16px;
  }

  .detailOverview {
    font-size: 15px;
  }

  .reviewWrite {
    width: 100%;
  }

  .reviewTop,
  .reviewMiddle {
    width: 100%;
    height: 20%;
  }

  .reviewTop {
    font-size: 20px;
  }

  .reviewBottom {
    width: 100%;
    height: 60%;
    flex-direction: column;
  }

  .reviewWriteText {
    width: 100%;
    height: 80%;
    font-size: 16px;
  }

  .reviewBottom > input[type="submit"] {
    width: 100%;
    height: 20%;
    font-size: 14px;
  }

  .reviewLists {
    width: 100%;
  }

  .reviewNone {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .detailTitle {
    font-size: 17px;
  }

  .detailGenres,
  .detailRuntime,
  .detailReleaseDate {
    font-size: 15px;
  }

  .detailOverview {
    font-size: 14px;
  }

  .detailOverview {
    font-size: 15px;
  }

  .reviewTop,
  .reviewMiddle {
    width: 100%;
    height: 15%;
  }

  .reviewTop {
    font-size: 15px;
  }

  .reviewBottom {
    height: 70%;
  }

  .reviewWriteText {
    font-size: 13px;
  }

  .reviewBottom > input[type="submit"] {
    font-size: 13px;
  }

  .reviewNone {
    font-size: 16px;
  }
}
