* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.homeSection,
.loginSection,
.detailSection {
  background-color: #f2f2f2;
  width: 100%;
}

.loginSection,
.detailSection {
  height: calc(100vh - 60px);
}
